{% extends 'base.html.twig' %}

{% set asset_path = 'resources/prueba/' %}

{% block formulario %}
	<div class="container">
		<br><br>
		<div class="row">
			<div class="col  s12 m12">
				<div class="row">
					<div class="col s12 m12">
						<div class="card " >
							<!--<div class="card-image">
								<img src="images/sample-1.jpg">
								<span class="card-title"></span>
							</div>-->
							<div class="card-content orange">
								<h5 class="center white-text">INGRESA TU CUENTA</h5>
							</div>
							<div class="card-action">
								<div class="row">
									<div class="col m9">
										<div class="input-field col m10">
											<i class="material-icons prefix orange-text">credit_card</i>
											<input id="cuenta" name="cuenta" type="number" class="validate">
											<div id="mensaje" class="red-text"></div>
											<label for="cuenta">No. Cuenta: </label>
										</div>
									</div>
									<div class="col m3">
										<a class="btn waves-effect waves-light orange" id="btnAcceder">
											Acceder
											<i class="material-icons right">send</i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card" id="acciones" hidden>

					<div class="card-content center">
						<h3 class="orange-text text-darken-4">Bienvenido! </h3>
						<h4 id="hcliente"></h4>
					</div>
					<div class="card-tabs ">
						<br>
						<h5 class="orange-text text-darken-3 center">ACCIONES</h5>
						<br> <br> <br>
						<ul class="tabs tabs-fixed-width">
							<li class="tab">
								<a href="#movimientos" class="orange-text darken-4">
									<i class="material-icons">assignment</i>
									 Historial
								</a>
							</li>
							<li class="tab">
								<a href="#abonar" class="orange-text darken-4">
									<i class="material-icons">arrow_downward</i>
									Abonar
								</a>
							</li>
							<li class="tab">
								<a href="#retirar" class="orange-text darken-4">
									<i class="material-icons">arrow_upward</i>
									Retirar
								</a>
							</li>
						</ul>
					</div>
					<div class="card-content grey lighten-4">
						<div class="row">
							<div class="col s6">
                                <h5 id="hsaldo"></h5>
								<div id="noCuenta" ></div>
								<br> <br>
							</div>
						</div>
						<div class="row" id="retirar">
							<form class="col s12">
								<div class="row">
									<div class="input-field col s6">
										<i class="material-icons prefix orange-text">monetization_on</i>
										<input id="canti" name="canti" type="number" class="validate">
										<label for="canti">Monto: </label>
									</div>
									<div class="input-field col s6 center">
										<a class="btn waves-effect waves-light orange" id="btnRetirar">
											Retirar
											<i class="material-icons right">arrow_upward</i>
										</a>
									</div>
								</div>
							</form>
						</div>

						<div class="row" id="abonar">
							<form class="col s12">
									<div class="input-field col s6">
										<i class="material-icons prefix orange-text">monetization_on</i>
										<input id="cantidad" name="cantidad" type="text" class="validate">
										<label for="cantidad">Monto</label>
									</div>
									<div class="input-field col s6 center">
										<a class="btn waves-effect waves-light orange" id="btnAbonar">
											Abonar
											<i class="material-icons right">arrow_downward</i>
										</a>
									</div>
							</form>
						</div>

						<div class="row" id="movimientos">
							<div>
								<table id="tablaMov" class="table table-striped table-hover table-bordered">
									<thead class="table-primary">
									<tr>
										<th>No. Movimiento</th>
										<th>Tipo</th>
										<th>Fecha</th>
										<th>Importe</th>
										<th>Sucursal</th>
									</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<!--Bloque donde se crea la variable url que manda  llamar a insertar_movimientos-->
	{{ parent() }}
	<script>
		var url_setMovimientos= "{{ path('insertar_movimientos') }}";
		var url_getMovimientos= "{{ path('select_movimientos') }}"
	</script>
	<!--Se importa el archivo js-->
	<script type="text/javascript" src="{{ asset(asset_path ~ 'primerBundle.js') }}"></script>
{% endblock %}